<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
    <div class="container">
    <div class="row">
      
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget subscribe no-box">
    <h5 class="widget-title">ONLyBOOKS<span></span></h5>
    <p>A book store with millions of books. Get your favourite books now. </p>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget no-box">
    <h5 class="widget-title">Quick Links<span></span></h5>
    <ul class="thumbnail-widget">
    <li>
    <div class="thumb-content"><a href="#">Home</a></div> 
    </li>
    <li>
    <div class="thumb-content"><a href="#">Features</a></div> 
    </li>
    <li>
    <div class="thumb-content"><a href="#">Pricing</a></div> 
    </li>
    <li>
    <div class="thumb-content"><a href="#">FAQs</a></div> 
    </li>
    <li>
    <div class="thumb-content"><a href="#">News</a></div>  
    </li>
    <li>
    <div class="thumb-content"><a href="#">Lifestyle</a></div> 
    </li>
    <li>
    <div class="thumb-content"><a href="#">About</a></div> 
    </li>
    </ul>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget no-box">
    <h5 class="widget-title">Get Started<span></span></h5>
    <p>Get access to your full Training and Marketing Suite.</p>
    <a class="btn" href="#" target="_blank">Register Now</a>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    
    <div class="widget no-box">
    <h5 class="widget-title">Contact Us<span></span></h5>
    
    <p><a href="" title="glorythemes">info@onlybooks.com</a></p>
    <ul class="social-footer2">
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn-outline-light btn-floating m-2 fa-2x" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn-outline-light btn-floating m-2 fa-2x" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn-outline-light btn-floating m-2 fa-2x" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn-outline-light btn-floating m-2 fa-2x" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn-outline-light btn-floating m-2 fa-2x" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

    </section>
    </ul>
    </div>
    </div>
    
    </div>
    </div>
    </div>
      
    <div class="footer-copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <p>Copyright ONLyBOOKS © 2016. All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
    </footer>
